.header {
    z-index: 10;
    font-family: Product;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    background-color: #5c3f5a;
    color: white;
}
.header--transparent {
    background-color: transparent;
}
.header__logo {
    position: absolute;
    right: 100px;
    top: 0px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__logo__title {
    margin-left: 10px;
    font-size: 26px;
}
a {
    color: inherit;
    text-decoration: none;
}
svg {
    width: 25px;
    height: 25px;
}
.header__menu {
    position: absolute;
    left: 100px;
    top: 0px;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__menu__item {
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    transition-duration: 0.3s;
}
.header__menu__item:hover {
    color: #f5ec75;
}

  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #af0d0d; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; }
@media only screen and (max-width: 1200px) {
    .stand__title{
        font-size: 20px;
    }
    /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
      background-color: #7B68EE	;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
 
  /* (B) SHOW HAMBURGER ICON */
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; color:white }
  #hamnav input:checked ~ #hamitems { display: block; }


}