body {
    margin: 0px;
}
.main {
    font-family: Product;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    overflow: hidden;
    padding-bottom: 100px;
}
.main__title {
    margin-top: 150px;
    font-size: 40px;
    margin-left: 150px;
    border-bottom: 1px solid black;
    width: fit-content;
    padding-bottom: 10px;
    display: flex;
}
.main__filter {
    margin-left: 150px;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    border-bottom: black solid 1px;
    font-size: 18px;
    font-family: Product;
    padding: 10px;
    outline: none;
    color: black;
}
.main__filter::placeholder {
    font-family: Product;
    color: black;
}
.main__wrapper {
    position: relative;
    width: calc(100% - 300px);
    left: 150px;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}
.main__item img{
    height: 250px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid black
}
.main__item__name {
    text-align: center;
    font-size: 1.2vw;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main__item__buy{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    transition-duration: 0.5s;
    cursor: pointer;
    border: 1px solid black;
}
.main__item__buy:hover {
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0px 0px 15px #000000;
}