body {
    margin: 0px;
}
.main {
    font-family: Product;
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/bg.jpg);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.main__wrapper {
    margin-top: 120px;
    width: 1000px;
    display: flex;
}
.main__before img {
    width: 300px;
    margin-right: 20px;
}
.main__title {
    font-size: 40px;
    margin-bottom: 0px;
    margin-left: 50px;
}
.main__subtitle {
    line-height: 0px;
    font-size: 12px;
    margin-left: 50px;
}
.main__price {
    font-size: 25px;
    margin-left: 50px;
}
.main__quantity {
    font-size: 12px;
    margin-left: 50px;
}
.main input[type='number'] {
    height: 20px;
    width: 40px;
    padding: 10px;
    margin-left: 50px;
}
.main__block {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid black;
    width: 550px;
    margin-left: 50px;
}
.main__block__title {
    
    font-size: 20px;
    margin-left: 165px;
}